*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

background:#071120;
color:white;
overflow-x:hidden;

}

/* Animated Background */

.background{

position:fixed;
width:100%;
height:100%;
top:0;
left:0;

background:
radial-gradient(circle at 20% 20%,#0ea5e955,transparent 40%),
radial-gradient(circle at 80% 30%,#06b6d455,transparent 40%),
radial-gradient(circle at 50% 90%,#3b82f655,transparent 40%);

animation:bgmove 10s infinite alternate;

z-index:-1;

}

@keyframes bgmove{

from{

transform:scale(1);

}

to{

transform:scale(1.2);

}

}

/* Header */

.admin-header{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 40px;

background:#081827dd;

backdrop-filter:blur(12px);

border-bottom:1px solid #00c3ff55;

}

.logo{

font-size:24px;
font-weight:bold;

color:#00c3ff;

}

.header-right{

display:flex;
align-items:center;
gap:20px;

}

.notification{

position:relative;
font-size:20px;

}

.badge{

position:absolute;
top:-8px;
right:-8px;

background:red;

width:18px;
height:18px;

border-radius:50%;

font-size:12px;

display:flex;
align-items:center;
justify-content:center;

}

.logout-btn{

padding:10px 20px;

background:#ef4444;

border:none;

border-radius:8px;

color:white;

cursor:pointer;

}

/* Dashboard */

.dashboard{

display:grid;

grid-template-columns:300px 1fr;

gap:30px;

padding:40px;

}

/* Glass */

.glass-card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(12px);

border:1px solid rgba(255,255,255,.15);

border-radius:20px;

padding:25px;

box-shadow:0 10px 30px rgba(0,0,0,.3);

margin-bottom:25px;

}

/* Stats */

.stat-box{

margin-top:20px;

padding:20px;

background:#0ea5e922;

border-radius:12px;

text-align:center;

}

.stat-box h2{

font-size:35px;

color:#38bdf8;

}

/* Inputs */

input{

width:100%;

padding:15px;

margin:12px 0;

background:#0f172a;

border:1px solid #334155;

color:white;

border-radius:10px;

}

input:focus{

border:1px solid #38bdf8;

outline:none;

}

/* Save Button */

#saveBtn{

margin-top:10px;

padding:14px;

width:100%;

border:none;

background:#06b6d4;

color:white;

font-size:17px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

#saveBtn:hover{

transform:scale(1.03);

}

/* Table */

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

th{

background:#0891b2;

padding:14px;

}

td{

padding:14px;

text-align:center;

border-bottom:1px solid #334155;

}

/* Buttons */

.edit-btn{

background:#f59e0b;

padding:8px 14px;

border:none;

color:white;

border-radius:6px;

cursor:pointer;

}

.delete-btn{

background:#ef4444;

padding:8px 14px;

border:none;

color:white;

border-radius:6px;

cursor:pointer;

margin-left:8px;

}